[submodule "cmake/jfc-cmake"]
	path = cmake/jfc-cmake
	url = https://github.com/jfcameron/jfc-cmake.git
[submodule "extern/gdk-math"]
	path = extern/gdk-math
	url = https://github.com/jfcameron/gdk-math.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
